@import "~bootstrap/dist/css/bootstrap.css";
.sideBar {
    position: fixed;
    height: 100%;
    width: 230px;
    background: #960A22;
    left: 0;
}

.sideBar a {
    color: #fff;
    text-decoration: none;
}

.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 0px;
}

.menu-items,
.menu-title {
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
    color: #fff;
    list-style: none;
}

.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
}


/* .submenu-title */

.submenu-title {
    color: #fff;
    list-style: none;
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
    border-bottom: #fff;
}

.submenu-title .title-sub {
    display: inline-block;
    padding: 8px;
}

.submenu-title .items {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 12px;
}

.submenu-title .items:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* .item, .menu-item, .title */

.item,
.menu-item,
.title {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
}

.item a:hover,
.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* .submenu */

.submenu {
    right: calc(-100% - 26px);
    background: #960A22;
    height: 100%;
    width: 100%;
    top: 0;
}