<div class="container text-center" *ngIf="nav">

    <div class="sideBar">
        <div class="menu-content">
            <ul class="menu-items">
                <li class="item" *ngFor="let menuItem of nav">
                    <div class="menu-item">
                        <span class="title">{{ menuItem.name }}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</div>

<!-- <table class="mb-5">
        <tr>
            <th>Menu</th>
            <th>Sous-Menu</th>
            <th>State</th>
        </tr>

        <tr *ngFor="let line of nav">
            <td>{{ line.name }}</td>
            <td *ngIf="line.sub && line.sub.length > 0">{{ line.sub[0].name }}</td>
            <td *ngIf="line.sub && line.sub.length > 0">{{ line.sub[0].state }}</td>
        </tr>

    </table> -->