<div class="container text-center" *ngIf="nav">
    <div class="sideBar">
      <div class="menu-content" [ngClass]="{ 'show-elem': !showElement, 'noshow-elem': showElement }">
        <ul class="menu-items">
           <li class="item" [ngClass]="{ active: item.active }" *ngFor="let item of nav">
           <div class="menu-item" [ngClass]="{ 'show-menu': showMenu, 'noshow-menu': !showMenu }">
              <span class="title" (click)="onClickChangeActiveFlag(item)">
                 <span>{{ item.name }}</span>
                 <!-- <fa-icon [icon]="faChevronRight"></fa-icon> -->
              </span>
           </div>
           </li>
        </ul>
     </div>
     <div [ngClass]="{ 'show-elem': showElement, 'noshow-elem': !showElement }">
      <ul class="submenu-title">
         <span class="title-sub" (click)="closeChildNav()">
            <!-- <fa-icon [icon]="faChevronLeft"></fa-icon> -->
            <div class="items">Back</div>
         </span>
         <li class="items" routerLink="{{ subItem.state }}" *ngFor="let subItem of subMenu">
            <span>{{subItem.name}}</span>
         </li>
      </ul>
   </div>
    </div>
</div>
  
  <div class="container">
    <!-- This is where the routed components will be displayed -->
    <router-outlet></router-outlet>
  </div>
  

  